{% extends "layout.njk" %}

{% block content %}
<main class="container region flow">
  <h1>Edit Tweet</h1>
  
  <form action="/tweets/edit" method="post">
    <input type="hidden" name="id" value="{{ tweet.id }}">
    
    <textarea id="message" name="message" required>{{ tweet.message }}</textarea>
    
    <button type="submit">Update</button>
  </form>
  
  <a href="/">Cancel</a>
</main>
</main>
{% endblock %}
